streamlit==1.38.0
passlib==1.7.4
python-dotenv==1.0.1
PyPDF2==3.0.1
docx2txt==0.8
transformers==4.44.2
torch>=2.1.0
pandas==2.2.2
openai==1.35.3
scikit-learn==1.4.2
textstat==0.7.3
spacy==3.7.2
nltk>=3.9.1
regex
tqdm
joblib
